*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

.container{
    width: 1300px;
}

.centra{
    margin: 0 auto;
}

.lf{
    float: left;
}

.rg{
    float: right;
}

ul{
    list-style: none;
}

button{
    border: none;
    padding: 3px 15px;
    background-color: #0063FF;
    color: white;
    height: 25px;
}

.white{
    border: none;
    padding: 3px 15px;
    background-color: white;
    color: black;
}

h1{
    font-size: 65px;
    margin-bottom: 45px;
}

h2{
    font-size: 40px;
}

h3{
    margin-bottom: 30px;
}

.side-left{
    width: calc(33.33333% - 15px);
    padding-right: 15px;
}

.side-right{
    width: calc(33.33333% - 15px);
    padding-left: 15px;
}

.centre{
    width:calc(33.33333% + 30px);
    padding: 0px 30px;
}

.bordo{
    border: lightgray 1px solid;
}


.dim{
    width: calc(100% - 20px);
    padding-left: 5px;
}

.allineamento-riga{
    width: 20px;
    display: inline-block;
    padding-top: 2px;
}


/* <---------------------------------------------------> */

/* ----navbar---- */
nav{
    width: 100%;
    padding: 30px 15px;
}

.altezza-nav{
    height: 25px;
    line-height: 25px;
}

.lista-nav{
    display: inline-block;
}

.li-nav{
    vertical-align: middle;
    margin-right: 30px;
    display: inline-block;
}

.logo{
    height: 100%;
    vertical-align: middle;
    margin-right: 30px;
    display: inline-block;
}

.logo > img{
    height: 100%;
}

.button-nav{
    vertical-align: middle;
    display: inline-block;
}
/*----fine nav---- */

/*----jumbotron */
.jumbotron{
    background-color:#ADD1EA;
    width: 100%;
    padding: 60px 0;
    margin-bottom: 90px;
    
}

.contenuto-jumbotron{
    width: 80%;
    position: relative;
}


.jumbotron-text{
    width: 300px;
}

.jumbotron-text p{
    margin-top: 5px;
    margin-bottom: 30px;
}

.fa-arrow-down{
    font-size: 30px;
}

.jumbotron-img > img{
    margin-top: 5px;
    width: 700px;
    position: absolute;
    right: 0;
}

/* ----jumbotron finito---- */

/* ----main---- */

/* ----card-tariffario---- */
main{
    width: 70%;
}

.card{
    margin-bottom: 45px;
}


.checkbox-container{
    margin: 30px 0;
}


.card .bordo:first-child{
    text-align: center;
    padding: 10px 0;
}

.contenuto{
    padding: 45px 30px;
    height: 950px;
    border-top: none;
}

.contenuto p:nth-of-type(2){
    color: gray;
    margin-bottom: 45px;
}

.contenuto p:first-of-type, .card-li-spaziatura {
    margin: 15px 0;
}


.contenuto > ul{
    margin-bottom: 30px;
}

.button-card{
    width: 100%;
    text-align: center;
}

.link-card{
    color: #0063FF;
}

.button-card + p{
    margin: 20px 0;
}

hr{
    width: 60px;
    color: grey;
    margin-bottom: 30px;
}

hr + span{
    font-size: 120%;
    /* margin-bottom: 15px; chiedere perchè non lo prende */
}

.lista-check{
    margin-top: 15px;
}

.check-blu{
    color: #0063FF;
}

.lista-check li{
    margin-bottom: 15px;
}
/* card-tariffario finito */

/* box enterprise */
.box-enterprise{
    width: 100%;
}

.header-enterprise{
    text-align: center;
    padding: 10px 0;
}

.corpo-enterprise{
    padding: 20px;
    border-top: none;
    margin-bottom: 135px;
}

.riga-titolo-bottone{
    position: relative;
    height: 30px;
    margin-bottom: 15px;
}

.titolo-enterprise{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 130%;
}

.bottone-enterprise{
    position: absolute;
    right: 0;
    width: 250px;
}

.sottotitolo-enterprise{
    margin-bottom: 30px;
}

.sottotitolo-enterprise + p{
    font-size: 80%;
}
/* ----fine enterprise---- */

/* ----partner---- */

.colonna-immagine{
    width: 60%;
}

.colonna-testo{
    width: 40%;
    padding-top: 30px;
    padding-left: 30px;
}

.colonna-immagine > img{
    width: 100%;
}

.colonna-testo > p{
    font-size: 90%;
    margin-bottom: 30px;
}

.button-partner{
    border: black 1px solid;
    height: 30px;
}
/*----partner finito---- */

/* ----operazioni---- */

.titolo-operazioni{
    margin-top: 90px;
    margin-bottom: 60px;
}

.card > img{
    width: 100%;
}
/* ----operazioni finito---- */
/* ----main finito---- */


/*----box aziende---- */

.box-aziende-titolo{
    width: 70%;
    margin-top: 90px;
}

.box-aziende-titolo > h2{
    width: 59%;
}

.box-aziende-titolo > p{
    margin-top: 30px;
    margin-bottom: 55px;
}

.box-aziende-titolo a{
    color: #0063FF;
}

.box-center{
    width: calc(100% - 720px);
    height: 360px;
    background-color: #F5F5F5;
    padding: 30px;
    font-weight: 500;
}

.box-side-left,.box-side-right{
    width: 360px;
    height: 360px;
}

.square{
    width: 180px;
    height: 180px;
    position: relative;
}

.square > img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.box-center > img{
    height: 35px;
    margin-bottom: 20px;
}

.box-center p:first-of-type{
    margin: 20px 0;
}

.box-side-left .square:first-of-type{
    background-color: #94D595;
    border: #C8E9C9 10px solid;
}

.box-side-left .square:nth-of-type(2){
    background-color: #6B002B;
}

.box-side-left .square:nth-of-type(3){
    background-color: #0096D3;
}

.box-side-left .square:nth-of-type(4){
    background-color: #FF0000;
}

.box-side-right .square:first-of-type{
    background-color: #E90006;
}

.box-side-right .square:nth-of-type(2){
    background-color: #ADD1EA;
}

.box-side-right .square:nth-of-type(3){
    background-color: #022486;
}

.box-side-right .square:nth-of-type(4){
    background-color: #FFD600;
}

.box-celeste{
    background-color: #ADD1EA;
    padding: 90px 0;
    position: relative;
}

.box-celeste > .centra{
    position: relative;
    width: 70%;
    height: 110px;
}

.titolo-granata{
    color: #6B002B;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.titolo-granata + button{
    position: absolute;
    top: 10px;
    right: 0;
    height: 35px;
    width: 250px;
}
/* ----box aziende finito ---- */


/* ----domande frequenti---- */
.larghezza-box-domande{
    width: 70%;
    margin-top: 75px;
    margin-bottom: 75px;
}

.lista-domande > li{
    position: relative;
    height: 60px;
    border-top: lightgray 1px solid;
}

.lista-domande li:last-of-type{
    border-bottom: lightgray 1px solid;
}

.lista-domande p{
    position: absolute;
    line-height: 60px;
    font-size: 80%;
    font-weight: bold;
}

.fa-chevron-down{
    position: absolute;
    right: 0px;
    font-size: 80%;
    line-height: 60px;
}
/* ----domande frequenti finito---- */

/* ----footer---- */

footer{
    background-color: black;
    color: white;
    padding: 120px;
}

.colonna-footer{
    width: 15%;
    margin-right: 45px;
    margin-bottom: 120px;
}

.colonna-footer > h4{
    margin-bottom: 30px;
}

.lista-footer li{
    margin-bottom: 15px;
}

.lingua{
    margin-top: 60px;
    color: lightgray;
}

.fa-sort-up{
    padding-top: 3px;
}